.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  height: 293px;
}
.header_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__links-list-item_bullit {
  list-style: circle;
}
.header_links-list {
  display: flex;
  gap: 32px;
}
.header_link_active {
  text-decoration: none;
}
.header_link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.header_logo {
  display: block;
}
.header_logo-image {
  top: 2.8px;
  left: 11.40px; 
  width: 125px;
  height: 95px;
}
.header_address {
  display: flex;
  flex-direction: column;  
  justify-self: center;
  font-style: normal;
}
.header-contacts_item-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
/**.cover .overlay {
  background: rgba(0 0 0 /0.6);
}**/
.cover {
  position: relative;
  z-index: 1;
  max-width: 1100px;
  min-height: 757px;
  background-image: url(/images/cover.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cover_title {
  padding: 165px 50px 207px 50px;
  color: #FFFFFF;
  font-size: 100px;
  text-transform: uppercase;
  
}
.letter-spacing-extended {
  letter-spacing: 27px;
}
.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: left;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}

.cover_description {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 50px 50px;
  color: #FFFFFF;
}
.cover_description-text {
  display: flex;
  align-items: center;
  font-weight: 400px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 10px;
  
}
.bet-button {
  width: 256px;
  height: 51px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}
.lots {
  margin: 180px 24px 120px 24px;
  width: 1052px;
  height: 723px;
}

.lots_heading {
  margin-right: 891px;
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}
.lots_card-list {
  display: flex;
  gap: 25px;
  color: #FFFFFF;
  min-width: 334px;
  min-height: 596px;
}
.lots_card-list-item {
  flex-direction: column;
  min-width: 334px;
  min-height: 596px;
  display: flex;
}
/**.overlay .card_type_film{
  background: rgba(0 0 0 /0.6);
}**/
.card_type_film {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0, 0.6) ),url(/images/card-lot-01.jpg);
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card_type_book {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card_type_picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-link {
  height: 100%;
  display: flex;
  padding: 48px 40px;
  text-decoration: none;
  font-size: 22px;
}
.card_title {
  display: flex;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}
article {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-right: 40px ;
  padding-bottom:  48px;
  padding-left: 40px;
}
.lots__look-more-link {
  display: flex;
  margin: 30px 820px 0px 40px;
  font-size: 20px;
  text-decoration: underline;
}
.about {
  width: 1052px;
  height: 595px;
  margin-top: 120px;
  margin-right: 24px;
  margin-bottom: 180px;
  margin-left: 24px;
}
.about_column {
  display: grid;
  grid-template-columns: 334px auto;
}
.about__logo{
  display: flex;
  margin-top: 35px;
  margin-left: 47px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.circle {
  display: flex;
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px; 
  background-image: url(/images/logo-white.svg);
  background-repeat: no-repeat;
  background-size: 148px 114px;
  background-position: center;
}
.about_title {
  display: flex;
  margin-top: 136px;
  margin-left: 25px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.about_text {
  display: block;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  margin-left: 359px;
  width: 693px;
  height: 312px;
}
.fivepx{
  margin-right: 5px;
  margin-bottom: 24px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 1100px;
  height: 180px;
}
.footer_address{
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-left: 50px;
  margin-bottom: 82px;
}
.footer-contacts_item-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.footer-contacts_item {

}
.footer__menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 115px;
}
.footer__menu-list {
  display: flex;
  list-style: none;
}
.footer__menu-list-item {
  list-style: none;
  text-align: center;
}
.footer__menu-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer_social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  list-style-type: none;
  width: 240px;
  height: 48px;
  margin-right: 50px;
  margin-left: 177.5px;
}
.footer_social-list-item {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
/**
.footer_social-icon-yt {
  width: 48px;
  height: 48px;
}
.footer_social-icon-vk {
  width: 48px;
  height: 48px;
}
.footer_social-icon-pinterest {
  width: 48px;
  height: 48px;
}**/