.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
}
.header__links_list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style-type: circle;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.header__link_active {
  text-decoration: none;
}
.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}
.address-block__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-style: normal;
  line-height: 24.3px;
}
.header__address {
  justify-self: end;
}
.address-block__item {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.cover {
  position: relative;
  min-height: 757px;
  color: #FFFFFF;
  font-family: Raleway, Arial, sans-serif;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  inset: 0; 
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}
.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 106px 50px;
  font-size: 100px;
}
.aligned-text {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  gap:20px;
  line-height: 115px;
}
.aligned-text_left {
  text-align: left;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}
.letter-spacing-extended {
  letter-spacing: 30px;
}
.no-letter-spacing {
  letter-spacing: 0px;
}
.cover__description {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 50px 50px 50px;
  font-size: 22px;
}
.cover__description-text {
  word-spacing: 20px;
}
.bet-button {
  width: 256px;
  height: 51px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: transparent;
}
.lots {
  padding: 180px 24px 0px 24px ;
  font-family: Raleway, Arial, sans-serif;
}
.lots__heading {
  padding: 0px 0px 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}
.lots__card-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  color: #FFFFFF;
}
.lots__card-list-item {
  position: relative;
  z-index: 1;
  width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card-link {
  height: 100%;
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height: 100%;
}
.card__title {
  position:relative;
  z-index: 1;
  padding: 48px 40px 30px 40px;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}
.card__text {
  position: relative;
  z-index: 1;
  flex-direction: column-reverse;
  padding: 0px 40px 48px 40px;
  font-size: 20px;
  line-height: 120%;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__look-more-link {
  display: flex;
  width: fit-content;
  padding: 30px 0px 0px 40px;
  font-size: 20px;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 120px 24px 0px 24px;
}
.about__column-logo {
  padding-top: 35px;
}
.about__logo {
  display: flex;
  justify-self:center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000 ;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__column-story {
  padding: 133px 0px 0px 25px;
  font-family: Raleway, Arial, sans-serif;
}
.about__title {
  padding-top: 3px;
  font-size: 40px;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap:24px;
  padding-top: 100px;
  font-size: 20px;
  line-height: 24px;
}
.small-gap {
  margin-right: 5px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 0px;
  padding: 180px 50px 82px 50px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
}
.footer__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  list-style: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
